body {
    font-family: $font-family-base;
    background-color: $font-yellow;
}

.banner {
    position: relative;
    margin: 0;
    padding: 0;
    width:100%;
    img {
        position: relative;
        z-index: 1;
        width: 100%;
        object-fit: cover;
    }   
}

@media only screen and (max-width: 600px) {
    .container-fluid {
        display: flex;
        height: 20rem;
    }
}

@media only screen and (min-width: 600px) {
    .container-fluid {
        display: flex;
        height: 50rem;
    }
}

@media only screen and (min-width: 992px) {
    .container-fluid {
        display: flex;
        height: 65rem;
    }
}

.box {
    display: flex;
    background-color: white;
    align-content: center;
    @media only screen and (max-width: 600px) {
        margin: 15px;
        height: 8rem;
    }
    @media only screen and (min-width: 600px) {
        margin: 20px;
        height: 11rem;
    }
    @media only screen and (min-width: 992px) {
        margin: 25px;
        height: 15rem;
    }
    .quotation {
        display: flex;
        font-style: italic;
        color: $font-blue;
        align-content: center;
        p {
            line-height: 4rem;
        }
    }
}


