/**
 * pages/contact-us
 * ---
 */
.box{
    display: grid;
    grid-template-columns: 40px 60px auto 60px 40px;
    grid-template-rows: 10px auto 10px;
}

.item-1{
    grid-column-start: 2;
    grid-column-end: three;
    grid-row-start: row2-start;
    grid-row-end: 3;
}


 .icons{
     width: 6rem;
     height: 6rem;
 }
