//Empty scss in anticpation for page-home.php

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    
}

// NAVBAR

nav{
    background-color: $font-blue;
    height: 8rem;
    color: $font-yellow;
    font-size: $font-size-base;
    
}
.navbar-toggler{
    border: none;
}
// a.nav-link{
//     text-decoration: none;
//     color: $font-yellow;
// }
a:hover{
    color: $font-white;
}
.nav-item{
    padding: 20px;
}

a.nav-link{
    color: $font-yellow;
}
.nav-link:hover{
    color: $font-white;
}
.logo{
    width: 20rem;
    height: 100%;
    
}

.navbar-toggler-icon{
    height:auto;
    width: auto;
}
.navcrumb{
    height: 2rem;
    width: 2rem;
    margin-top: .8rem;
}
.navbar-collapse{
    background-color: $font-blue;
}

// FOOTER
.grey{
    background-color: $font-black;
    height: 13rem;
  }
  .blue{
    background-color: $font-blue;
    height: auto;
  }
  .footer-logo{
    height: 7rem;
      
  }
  .subscribe{
    color: $font-yellow;
    font-size: 2rem;
  }
  .blue{
      color: $font-white;
  }
  .footertext{
      font-size: $font-size-base;
      margin-top: 3rem;
  }
  .social-media{
      margin-left:3rem;
      margin-top: 3rem;
  }
.social-media a{
    color: white;
}
#insta{
      margin-left: 13rem;
  }

// VIDEO
.mov{
    overflow: hidden;
}
